<h4>Thought Defusion Exercise</h4>
<p>Practice letting go of a distressing thought.</p>
<form id="thoughtDefusionForm">
  <label>Distressing thought:</label><br>
  <input type="text" name="thought"><br>
  <label>How can you observe this thought without judgment?</label><br>
  <textarea name="observation"></textarea><br>
  <button type="button" class="btn" onclick="saveThoughtDefusion()">Save</button>
  <button type="button" class="btn btn-secondary" onclick="resetThoughtDefusion()">Reset</button>
</form>
<div id="thoughtDefusionStatus"></div>
